@model huellitas.API.Models.BillingViewModel


<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <textarea asp-for="Remarks" class="form-control"></textarea>
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>

