@model huellitas.API.Models.BillingDetailViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<h4>Detalle a la Factura</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddBillingDetail" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillingId" />

            <partial name="_BillingDetail" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="BillingDetails" asp-route-id="@Model.BillingId" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


