@model huellitas.API.Models.ServiceDetailViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Detalle de Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditServiceDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillingDetailId" />

            <partial name="_DetailService" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="DetailService" asp-route-id="@Model.BillingDetailId" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

